<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produits disponibles</title>

    <!-- Bootstrap CSS CDN -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <!-- Optionally, add Bootstrap JS and jQuery CDN for interactive components -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}">
    
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}" rel="stylesheet" />
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" />
<!-- Incluez le CSRF token pour les formulaires POST -->
<!-- Custom styles for this template -->
<link href="{% static 'css/style.css' %}" rel="stylesheet" />


</head>
<body>
    <h1 class="text-center my-4">Produits disponibles</h1>
    <div class="container">
        <div class="row">
            <ul class="list-group col-md-8 offset-md-2">
                {% for produit in produits %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span>
                        <strong>{{ produit.nom }}</strong> - {{ produit.prix }}
                    </span>
                    <a href="{% url 'ajouter_au_panier' produit.id %}" class="btn btn-primary btn-sm">
                        Ajouter au panier
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</body>
</html>
