<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
  <title>Integrate Feda Checkout to my website</title>
  <script src="https://cdn.fedapay.com/checkout.js?v=1.1.7"></script>
</head>
<body>
  
<form action="index.php" method="POST">
 <input type="hidden" name="field" value="test">
 <script
   src="https://cdn.fedapay.com/checkout.js?v=1.1.7"
   data-public-key="pk_sandbox_UxhpiiG6P597Y8m_lXOM2tlB"
   data-button-text="Pay {{ panier.total }}"
   data-button-class="button-class"
   data-transaction-amount="{{ panier.total }}"
   data-transaction-description="Transaction description"
   data-currency-iso="XOF">
 </script>
</form>
</body>
</html>
